* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  background-color: #212121;
  color: #fff;
}

.navbar {
  height: 50px;
  background-color: rgba(102, 16, 83, 0.698);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.list {
  display: flex;
  align-items: center;
  list-style: none;
}
.listItems {
  margin-right: 20px;
  cursor: pointer;
  font-weight: 500;
}
.avatar {
  display: block;
  padding: 5px;
  width: 62px;
  background-color: aliceblue;
  object-fit: contain;
}
.logo {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

/* In Home Components */
.home {
  display: flex;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 10px;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
/* In Card Components */
.card {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 1vmax;
  width: 30%;
  min-width: 200px;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  -webkit-box-shadow: -2px 9px 39px 2px rgba(238, 238, 238, 0.63);
  -moz-box-shadow: -2px 9px 39px 2px rgba(206, 206, 206, 0.63);
  box-shadow: -2px 9px 39px 2px rgba(179, 179, 179, 0.63);
}

.card .img {
  width: 100%;
  margin: 10px 0px;
  border-radius: 1vmax;
}

.card .email {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(255, 138, 197);
}

.card .title {
  text-transform: uppercase;
  color: rgb(250, 67, 158);
  display: block;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}
.card .card-btn {
  cursor: pointer;
  margin-top: 10px;
  padding: 4px 15px;
  border: none;
  font-weight: 700;
  border-radius: 1vmax;
  transition: all 0.2s ease-in;
}
.card .card-btn:hover {
  opacity: 0.7;
  background-color: rgb(241, 117, 179);
}
